
<!DOCTYPE html>
<html>
<head>
    <title>POST</title>
</head>
<body>

<h2>{{ post.title }}</h2>
<p>{{ post.description }}</p>
<p>By: {{ post.author }}</p>

{% if user.username == post.author %}
  <form method="post" action="{% url 'post-detail' post.id %}">
    {% csrf_token %}
    <button type="submit">Delete Post</button>
  </form>
{% endif %}

<h3>Comments:</h3>
<ul>
  {% for comment in post.comments %}
    <li>{{ comment.author }}: {{ comment.content }}</li>
  {% endfor %}
</ul>

<h4>Add Comment</h4>
<form method="post" action="{% url 'add-comment' post.id %}">
  {% csrf_token %}
  <textarea name="content"></textarea><br>
  <button type="submit">Add</button>
</form>
</body>
</html>